* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.mainNavigation {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
}
.navItem {
    padding: 2em;
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
    color: orange;
}