* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header { text-align: center; height: 268px;}

header img { width: 50%; max-width: 500px;}

nav {
    display: flex;
    justify-content: space-around;
    margin: 25px 15px;
    font-family: 'Yrsa', serif;
    font-size: 20px;
    border: 2px solid #ffc66b; 
}

nav a { color: black; padding: 8px 0px; transition: all 500ms;}

nav a:hover, nav a:focus { color:#ffc66b; }

nav a:active { color: #ffa216; }

a { text-decoration: none; }

.donuts-doorsteps {
    background-color: white;
    font-family: 'Nunito Sans', sans-serif;
}

.donuts-doorsteps img {
    height: 50%;
    margin: 10px 0;
}

.order-button {
    background-color: #62cbff;
    font-family: 'Yrsa', serif;
    font-size: 20px;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
}

.order-button a {
    color: black;
}

.about-us {
    
}

.about-us a {
    color: black;
    text-decoration-line: underline;
}

.home-gallery {
    display: flex;
    flex-wrap: wrap;
}

.home-gallery-item {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 200px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 6px;
}

.home-gallery-item button:hover, .home-gallery-item button:focus {
    background-color: #a06333;
}

.home-gallery-item img {
    height: 80%;
    width: 100%;
    border-radius: 6px;
}

.home-gallery-item button {
    height: 18%;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    background-color: #3a1c13;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    width: 250px;
}

.gallery-item img {
    width: 100%;
}

.products {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "donut"
        "granola"
        "coffee"
        "one"
        "two"
        "three"
        "four"
        "five";
}

.product-card {
    margin: 5px;
    margin-bottom: 25px;
}

.product-card img{
    width: 100%;
    border-radius: 10px;
}

.donut {
    grid-area: donut;
}
.granola {
    grid-area: granola;
}
.coffee {
    grid-area: coffee;
}
.he {
    grid-area: one;
}
.lngray {
    grid-area: two;
}
.lnnavy {
    grid-area: three;
}
.athlete {
    grid-area: four;
}
.hn {
    grid-area: five;
}

/* footer area*/
footer {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "address hours contact socials";
    margin-top: 10%;
    margin-bottom: 10%;
    gap: 1rem;
    margin-left: 2%;
    

    
}

footer h3{
    padding: auto;
    text-align: center;
    padding-bottom: 1rem;
    
}

footer p{
    padding: auto;
    text-align: center;
    
}
.address {
    grid-area: address;
    border: #23B7Ff solid;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow-wrap: break-word;
    background:#23B7Ff;
}
.hours {
    grid-area: hours;
    border: #23B7Ff solid;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow-wrap: break-word;
    background:#23B7Ff;
}
.contact {
    grid-area: contact;
    border: #23B7Ff solid;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow-wrap: break-word;
    background:#23B7Ff;
}
.socials {
    grid-area: socials;
    border: #23B7Ff solid;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow-wrap: break-word;
    background:#23B7Ff;
}

/*footer area*/

.product-card button {
    height: 12%;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    background-color: #3a1c13;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
}
.product-card button:hover, .product-card button:focus {
    background-color: #a06333;
}
.product-card button a {
    color: white;
}
.product-card h2, .product-card p {
    font-family: 'Yrsa', serif;
}
.product-card p {
    font-size:larger;
}
.shopcnt img{
    width: 45%;
    margin: 20px;
    border-radius: 10px;
}
.flexcnt {
    display: flex;
    width: 100%;
}


/*checkout css*/


.form-wrapper{
     width: 80%;
     display: flex-column;
     background: #FE9A50;
   padding: 40px 20px; 
   box-sizing: border-box;
   margin: auto;
   margin-top: 10%;
   border-radius: 10px;
   margin-bottom: 10%;
  
}


.form-wrapper img{

  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 5%;
    
  


}
.form-wrapper h1{
    
   color: black; 
   text-align: center;
    margin-bottom: 20px;}

.form-wrapper p{
  font-size: 20px;
  color: black;
  text-align: center;
  padding-top: 5%;

}
input{width: 100%; 
  background: none; 
  border: 1.5px solid #FBF3D7 ;
   
   padding: 6px 15px;
   border-radius: 3px; 
    box-sizing: border-box;
     margin-bottom: 20px; 
     font-size: 16px;
      color: #fff;}




::placeholder{
    color: #FBF3D7;
}

.form-wrapper a{
    padding: 0.5rem 2rem;
    border: 1px #FBF3D7 solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease;
    padding-left: 40%;
    padding-right: 40%;
    }

.form-wrapper a:hover{
    background: #23B7Ff;
    
}


/*checkout css^*/

/*complete page css*/

.complete{
    
    width: 80%;
    background: #FE9A50;
    display: flex-columns;
    padding: 40px 20px; 
   box-sizing: border-box;
   margin: auto;
   margin-bottom: 10%;
   border-radius: 15px;
}
.complete h1{
 
padding: 2rem;
padding-top: 0%;
text-align: center;
}

.complete h2{
    padding: 2rem;
padding-top: 0%;
text-align: center;
font-size: 100%;
}

.complete img{
    
    width: 90%;
    padding-bottom: 5%;
    padding-left: 10%;
    max-width: 500px;
}
/*complete page css^*/

@media screen and (min-width: 540px) {
    .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "donut granola"
            "coffee one"
            "two three"
            "four five";
    }
    .product-card {
        margin: 25px;
    }
    
     .complete{
        margin-top: 5%;
    }
}
@media screen and (min-width: 720px) {
    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "donut granola coffee"
            "one two three"
            "four five .";
    }
    .product-card {
        margin: 25px;
    }
}
